@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.conHover{
    background-color:#63AB45;
    transition: background-color 0.3s ease-in-out;
}
.conHover:hover{
   background-color: #F7921E;
}

.readMore{
  
    transition: background-color 0.3s ease-in-out;
    border: 1px solid #e2e8f0;
}

.readMore .p {
    color: black;
}
.readMore:hover{
   background-color: #63AB45;
}

.readMore:hover .paraWhite{
    color: white !important;
}

 .arrowBackG{
    background-color: #63AB45;
  
 }

.arrowColor{
     color: white;
}

.readMore:hover .arrowBackG {
    background-color: white;
}

.readMore:hover .arrowColor{
    color: #63AB45;

}


.containerBack{
    border: 1px solid red;
}


.newborder{
    border: solid #94a3b8 0.1px;
    margin-top: 15px;
}

.aboutCom {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.rubikamily {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.smallParagraph {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.mainCard {
    transition: 0.5s ease-in-out;
}

.mainCard:hover .smallParagraph {
    max-height: 200px; /* Adjust based on the content height */
    opacity: 1;
}

.promptSnaserif{
    font-family: "Prompt", sans-serif;
 
}

.wholebox{
    border-top: none;
     border-radius: 10px;
    -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.15);
}

.openBoder:hover{
    border: 1px solid #63AB45 ;
}

.openBoder:hover .changeBack{
    background-color: #63AB45;
}

.openBoder:hover .hoveraeffect{
    color: white !important;
}

.newLayOverlay{
    background-color:  rgba(0, 0, 0, 0.5)
}

.newboxshadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.teamMember{
    -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.07);
}

.moreRounded{
    border-radius: 60px;
}

.slick-dots li button{
    padding-top: -200px !important; /* Add margin-top to the dots */
 }

.slick-dots li button:before {
    color: gray !important; /* Change to your desired color for inactive dots */
    font-size: 10px; /* Base size for dots */
    transition: all 0.3s ease; /* Smooth transition */
  }
  
  /* Style for active dots */
  .slick-dots li.slick-active button:before {
    color: red !important; /* Change to your desired color for active dot */
    font-size: 20px; /* Larger size for active dot */
  }

 .rotateBox{
    
    transform: rotate(-10deg);
    display: inline-block;
    background-color: #F7921E;
    margin-top: -40px;
 } 

 .fachover{
    background-color: #020617;
    transition: all 0.3s ease-in-out;
    cursor: pointer; 
    margin-right: 10px;
 }


 .hofayo{
    color: #6b7280;
    transition: all 0.3s ease-in-out;

 }

 .fachover:hover{
   background-color: #63AB45;
 }

 .fachover:hover .hofayo {
    color: #f3f4f6;
 }

 
